@charset "UTF-8";
/* CSS Document */

hr {
	stroke:1px;
	stroke-color:#cdcdcd;
}

.Circles {
	color:#CDCDCD;
	font-family:"Arial", sans-serif;
	font-size:30px;
	font-style:normal;
	line-height:15px;
	font-weight:bold;
	letter-spacing:5px;
	margin:0px;
	padding:0px;
}

 strong {
	color:#F95400;
}

input {
	padding:10px;
	margin:5px;
	height:30px;
	font-family:"Helvetica", san-serif;
	font-size:11px;
	font-style:italic;
	line-height:11px;
	color:#ff8036;
}

.Field {
	-epub-ruby-position:over;
	color:#ff8036;
	font-family:"Helvetica Neue", sans-serif;
	font-size:11px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}

.PrimaryButton {
	-epub-ruby-position:over;
	color:#ffffff;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}

.SecondaryButton {
	-epub-ruby-position:over;
	color:#cccccc;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}

.SubmitButton {
	-epub-ruby-position:over;
	color:#ffffff;
	font-family:"Helvetica Neue", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}

.Search {
	-epub-ruby-position:over;
	color:#999999;
	font-family:"Helvetica Neue", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:26px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}

.SearchButton {
	-epub-ruby-position:over;
	color:#ffffff;
	font-family:Helvetica, sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}

.AttendButton-Active {
	-epub-ruby-position:over;
	color:#f95400;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}

.SaveButton-Inactive {
	-epub-ruby-position:over;
	color:#cccccc;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}

.AttendButton-Inactive {
	-epub-ruby-position:over;
	color:#ffffff;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}

.AlertQuestion {
	-epub-ruby-position:over;
	color:#ee4100;
	font-family:"Helvetica Neue", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.163;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}

.ActiveTab {
	-epub-ruby-position:over;
	color:#f95400;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}

.InactiveTab {
	-epub-ruby-position:over;
	color:#f95400;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}

.ConnectButton-Active {
	-epub-ruby-position:over;
	color:#f2f2f2;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}

.MoreMenuItem {
	-epub-ruby-position:over;
	color:#ffffff;
	font-family:"Helvetica Neue", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}

::-webkit-scrollbar, ::-webkit-scrollbar-button:start, ::-webkit-scrollbar-button:end, ::-webkit-scrollbar-corner {
   display:none;
}