/* Page header */
h1 {
	color:white;
	font-family:"Helvetica", sans-serif;
	font-size:17px;
	line-height:20px;
	font-weight:450;
	margin:0px;
	padding:0px;
	padding-bottom:5px;
}


/* Volunteer Name, Organization Name */
h2 {
	color:#000000;
	font-family:"Helvetica", sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0px;
	padding:0px;
	line-height:20px;
}

/* Event Time */
h3 {
	color:#EE4100;
	font-family:"Helvetica", sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0px;
	padding:0px;
	line-height:16px;
	padding-bottom:5px;
	}

/* Event Organization */
h4 {
	color:#000000;
	font-family:"Helvetica", sans-serif;
	font-size:11px;
	font-weight:bold;
	margin:0px;
	padding:0px;
	line-height:15px;
	padding-bottom:2px;
}

/* Event Location, Volunteer Events Attended */
h5 {
	color:#ff8036;
	font-family:"Helvetica", sans-serif;
	font-size:11px;
	font-weight:100;
	font-style:none;
	margin:0px;
	padding:0px;
	line-height:13px;
	padding-bottom:5px;
}

/* Event Description */
h6 {
	color:#808080;
	font-family:"Helvetica", sans-serif;
	font-weight:100;
	font-size:9px;
	margin:0px;
	padding:0px;
	line-height:12px;
	letter-spacing:1px;
}

#profiledescription {
	color:#ffffff;
	font-family:"Helvetica", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:100;
	line-height:15px;
}

a {
	text-decoration:none;
}

h1.header {
	
	color:#ff8036;
	font-family:"Helvetica", sans-serif;
	font-size:29px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:35px;;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}

h1.subheader {
	
	color:#808080;
	font-family:"Helvetica", sans-serif;
	font-size:17px;
	font-style:italic;
	font-variant:normal;
	font-weight:100;
	line-height:20px;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}

/*
.OrganizationName {
	color:#000000;
	font-family:"Helvetica", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.037;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}

.OrganizationDescription {
	-epub-hyphens:none;
	
	color:#808080;
	font-family:"Helvetica", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:12px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}





.EventsAttended {
	
	color:#f95400;
	font-family:"Helvetica", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:250;
	line-height:1.273;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}

.VolunteerDescription {
	-epub-hyphens:none;
	
	color:#808080;
	font-family:"Helvetica", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:12px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}

.Profile-RealName {
	
	color:#ffffff;
	font-family:"Helvetica", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:0.8;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}

.Profile-Username {
	
	color:#ff8036;
	font-family:"Helvetica", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:250;
	line-height:1;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}

.Profile-Info {
	
	color:#ffffff;
	font-family:"Helvetica", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:bold;
	line-height:1.5;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
	text-transform:uppercase;
}

.UserDescription {
	
	color:#ffffff;
	font-family:"Helvetica", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}



.OrganizationProfileName {
	
	color:#ffffff;
	font-family:"Helvetica", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:0.8;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}

.OrganizationProfileDescription {
	
	color:#ffffff;
	font-family:"Helvetica", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}

.ReviewTitle {
	
	color:#000000;
	font-family:"Helvetica", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.037;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}

.Reviewer {
	
	color:#ff8036;
	font-family:"Helvetica", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:250;
	line-height:1;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}

.UserReview {
	-epub-hyphens:none;
	
	color:#808080;
	font-family:"Helvetica", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:12px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}





*/