#nav {
	height:36;
	width:100%;
	margin:0px;
	background-color:#F95400;
	position:absolute;
	left:0px;
	top:0px;
	z-index:0;

	font-family:helvetica;
	font-weight:normal;
	padding:20px;
	padding-left: 200px;
	color: #FFFFFF;
	letter-spacing: 2pt;
	text-transform:uppercase;
}

#nav strong {
	color:white;
	letter-spacing:1px;
}

a {
 	letter-spacing: 0pt;
	font-family:helvetica;
	size:10px;
	text-decoration:none;
	color:white;
}



